.container{
    width: 900px;
    height: 500px;
    background-color: rgb(55, 84, 252);
    margin: auto;
    overflow: auto;
    border-radius: 10px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
.container:hover{
    transition: 0.5s ease-in-out;
    opacity: .9;
}
#input{
    margin-top: 100px;
    margin-left: 250px;
    width: 300px;
    height: 25px;
    border-radius: 5px;
    border: none;
    outline: none;
}
.add{
    height: 27px;
    width: 50px;
    border-radius: 5px;
    border:none;
    outline: none;
    background-color:  rgb(0, 173, 29);
    color: rgb(255,255,255);
    cursor: pointer;
    }
hr{
    width: 90%;
   height: 0.1px;
   border: 0.5;
}
.delete{
    height: 27px;
    width: 50px;
    border-radius: 5px;
    border:none;
    outline: none;
    background-color:  rgb(156, 9, 9);
    color: rgb(255,255,255);
    cursor: pointer;
    float: right;

}

$dlt-btn:(

);
ol li {
    font-size: 1.5em;
    width: 50%;
    margin: 20px;
    text-align: left;
    color: rgb(255,255,255);
    
    &:hover{
        text-decoration: line-through;
    }
}
